html{
    height: 100%;
}
body {
    color: #333;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}

#slot{
    height: 60vh;
}

#search input{
    padding-right: 4rem;
}

#product{
    width: 20vw;
    height: 15vw;
}

footer{
    border-top: 3px solid #fcd077;
    background-color: #fcd0776b;
    margin-top: auto;
}

button h6{
    padding-top: 10px;
    padding-left: 5px;
}

div span{
    padding-right: 20px;
}

i{
    padding: 1rem;
}

/* Bootstrap mods */

.navbar{
    border-bottom: 3px solid #fcd077;
}
.btn-link {
    color: #333;
    text-decoration: none;
}
.btn-link:hover {
    color: rgb(82, 71, 71);
}
.btn-link:focus{
    border-color: rgb(73, 71, 71);
    box-shadow: none;
}
.form-control:focus{
    border-color: rgb(73, 71, 71);
    box-shadow: 2px 5px 2px;
    color: rgb(73, 71, 71);
}